<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="app.component.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="script.js"></script>
</head>
<body>
    <button class="btn btn-danger">Prueba botón</button>
    <app-encabezado></app-encabezado>
    <app-acerca-de></app-acerca-de>
    <app-formacion></app-formacion>
    <app-competencias></app-competencias>
    <app-proyectos></app-proyectos>
</body>
<footer>
    <app-footer></app-footer>
</footer>
</html>
